<section id="map">
    <div class="bloc-container animate show">
        <h2 class="title-nature">La Station Verte de l'Ailette</h2>
    </div>
    <div class="map">
        <img src="{{ active_theme_path() }}/images/map.png"  alt="">
    </div>
</section>