$color-black: #3a3a3a;
$color-pre-black: #454545;
$color-wite: #fff;
$color-pre-wite: #ddd;
$color-orange: #f06a36;
$color-pre-orange: #ef612b;
$color-blue: #009bdb;
$color-red: #ea1a6a;
$color-green: #8fc257;
$color-yellow: #b39d86;
$color-broun: #616161;
$color-fb: #3b5998;
$color-lin: #007bb6;
$color-tw: #00aced;
$color-yt: #df1c31;
$color-date: #87be4c;
$color-slide: #a2e05e;
$color_border: #e5e5e5;