<div class="footer-buttom">
    <ul>
        <li>
            Syndicat Mixte du Plan d’Eau des Vallées de l’Ailette et de la Bièvre
        </li>
        <li>
            Tous droits réservés 2016
        </li>
        <li>
            <a href="/drupal/mentionLegales" title="Mentions légales">Mentions légales</a>
        </li>
        <li>
            <a class="ayaline" href="/drupal/ayaline">
                Réalisation :<img src="themes/ailette/images/ayaline.png" alt="aYaline" width="72" height="18">
            </a>
        </li>
    </ul>
</div>